html, body {
	line-height: 1.5;
	height: 100%;
	width: 100%;
	font-size: .26rem;
	color: #000;
}
.guide-detail{
	width:7.5rem;
	margin:auto;
	.top-section{
		height: 100%;
		background-color: #fff;
		padding:0.32rem;
		.guide-detail-head{
			.head-image{
				 background-image:url('../images/pic-default.png');
				 background-size:100%;
				 background-repeat:no-repeat;
				 width:100%;
				 height:7.6rem;
				 margin:0 auto;

			}
			.header-content{
				height:1.12rem;
				width:100%;
				text-align:center;
				margin-bottom:0.4rem;
				font-family: PingFangSC-Thin;
				font-size: 0.24rem;
				color: #151515;
				letter-spacing: 0;
				line-height: 0.40rem;
				padding:0.36rem 0;
			}
			.guide-detail-list{
				height:2rem;
				width:100%;
				&:after{
					content:'';
					display:block;
					clear:both;
				}
				>.list{
					width:1.6rem;
					height:2rem;
					float:left;
					font-family: PingFangSC-Thin;
					font-size: 0.28rem;
					color: #151515;
					letter-spacing: 0.007rem;
					line-height:0.4rem;
					text-align:center;
					>div{
						width:1.6rem;
						height:1.6rem;
						// border:1px solid black;
				 		// background-image:url('../images/pre4.png');
				 		 background-size:100%;
				 		background-repeat:no-repeat;
					}
					&.process>div{
						 background-image:url('../images/pre.png');
					}
					&.check>div{
						 background-image:url('../images/pre2.png');
					}
					&.rule>div{
						 background-image:url('../images/pre3.png');
					}
					&.process,&.check{
						margin-right:0.85rem;
					}
				}
			}
		}
		.all-section{
			>.all-section-images{
				 background-image:url('../images/carDef.png');
				 background-size: 6.86rem 3.6rem;
				 background-repeat:no-repeat;
				 width:100%;
				 height:3.6rem;
				 margin:1.4rem auto 0rem;
			}
			>.all-section-content{
				margin-top:0.48rem;
				margin-bottom:0.52rem;
				&:after{
					display:block;
					content:'';
					clear:both;
				}
				>div{
					float:left;
					&.title{
						width:1.44rem;
						height:1.2rem;
						font-family: PingFangSC-Thin;
						font-size: 1.20rem;
						color: #151515;
						letter-spacing: 0.04rem;
						line-height: 1.2rem;
						margin-right:0.28rem;
					}
					&.rechoose{
						float:left;
						// width:0.35rem;
						height:0.9rem;
						// vertical-align: middle;
						margin-right:0.17rem;
						 margin-top: 0.1rem;
						>div{
							// border: 0.01rem solid #979797;
							font-size: 0.2rem;
							color: #151515;
							font-family: PingFangSC-Regular;
							
						}
						>div.re-item{
								border: 0.01rem solid #979797;
							}
						>div.choose-item{
								border-left:0.01rem solid #979797;
								border-right:0.01rem solid #979797;
							
							}
						>div.rechoose-item{
								border: 0.01rem solid #979797;
							
							}
						
					}
					&.title-detail{
						font-family: PingFangSC-Regular;
						font-size:0.4rem;
						color: #151515;
						letter-spacing: 0.02rem;
						line-height: 0.47rem;
						    margin-top: 0.1rem;
						// vertical-align: middle;
						>.special-content{
							font-family: PingFangSC-Thin;
							font-size: 0.24rem;
							color: #151515;
							letter-spacing: 0.006rem;
							line-height: 0.4rem;
							max-width: 4.6rem
						}
					}
					
				}
			}
			>.all-section-list{
				height:2.18rem;
				width:100%;
				display:inline-block;
				margin-top:0.5rem;
				.all-section-item{
					font-family: PingFangSC-Thin;
					font-size: 0.28rem;
					color: #151515;
					letter-spacing: 0;
					line-height: 0.54rem;
					&.item{
						margin-bottom:0.4rem;
					}
					.end{
						position: relative;
	   				    top: -0.1rem;
						margin-right:0.17rem;
						display:inline-block;
						margin-left: 0.2rem;
					}
				}
			}
		}
		.first-section{
			.img-first{
				margin-top:1.12rem;
			}
		}
	}
	.middle-section{
		width:100%;
		padding-left:0.34rem;
		padding-right:0.34rem;
		 background-color:#FAFAFA;
		  padding-top: 1.4rem;
		.safeguard{
			font-family: PingFangSC-Medium;
			font-size: 0.4rem;
			color: #151515;
			letter-spacing: 0;
			line-height: 0.47rem;
			text-align:center;
			 margin-bottom:0.32rem;
			 &.server{
			 	margin-top:1.4rem;
			 }
		}
		.line{
			width:0.32rem;
			border-top: 0.01rem solid #000000;
			border-bottom: 0.01rem solid #000000;
			margin:auto;
		}
		.hbc-process{
			font-family: PingFangSC-Thin;
			font-size: 0.28rem;
			color: #151515;
			letter-spacing: 0;
			line-height:0.42rem;
			text-align:center;
			margin-top:0.36rem;
			margin-bottom:1rem;
		}
		.process-images-all{
			background-image:url('../images/background.png');
			background-size:100%;
			background-repeat:no-repeat;
			height:3.8rem;
		}
		.server-detail{
			font-family: PingFangSC-Light;
			font-size: 0.22rem;
			color: #151515;
			line-height: 0.32rem;
			margin-top:0.28rem;
			 text-align: center;
		}
		.meet-who{
			background: #FFFFFF;
			box-shadow: 0 0.02rem 0.12rem 0 rgba(0,0,0,0.12);
			overflow: hidden;
			padding: 0 0.22rem 0.81rem;
			.content{
				font-family: PingFangSC-Regular;
				font-size: 0.40rem;
				color: #151515;
				letter-spacing: 0;
				line-height: 0.47rem;
				text-align:center;
				margin-top:0.8rem;
				margin-bottom:0.32rem;
			}
			.line{
				width:0.32rem;
				border-top: 0.01rem solid #000000;
				border-bottom: 0.01rem solid #000000;
				margin:auto;
			}
			.meet-who-images{
				width:2.4rem;
				height:2.4rem;
				background-image:url('../images/head1.png');
				background-size:100%;
				background-repeat:no-repeat;
				margin:0.3rem auto;
			}
			.meet-list{
			height:0.7rem;
			display: flex;
			margin-bottom:0.18rem;
			&:after{
				content:'';
				clear:both;
				display:block;
			}

			span{
				flex:1;
				display: block;
				background: #FAFAFA;
				border: 0.01rem solid rgba(0,0,0,0.60);
				border-radius: 1rem;
				padding-top:0.15rem;
				font-family: PingFangSC-Thin;
				font-size: 0.24rem;
				color: #151515;
				letter-spacing: 0;
				text-align:center;
				margin-right:0.18rem;

			}
			
			}
			// .point{
			// 	font-family: PingFangSC-Medium;
			// 	font-size: 0.4rem;
			// 	color: #151515;
			// 	letter-spacing: 0;
			// 	margin:auto;
			// 	text-align:center;
			// 	margin-bottom:0.3rem;
			// }
			.opacity-line{
				width:6.35rem;
				opacity: 0.17;
				border-top: 0.01rem solid #000000;
				margin-top:0.4rem;
			}
			p.guide-story{
				// margin-top:0.32rem;
				font-family: PingFangSC-Thin;
				font-size: 0.28rem;
				color: #151515;
				letter-spacing: 0;
				line-height: 0.44rem;
				&.guide-story-top{
					border-top: 0.01rem solid #000000 0.17;
					padding-top:0.32rem;

				}
			}
		}
	}
	.bottom-section{
		overflow:hidden;
		.img6{
			height:4.2rem;
			background-image:url('../images/carDef.png');
			background-size:100%;
			background-repeat:no-repeat;
			margin-top:0.88rem;
			margin-bottom:0.32rem;
		}
		.guide-content{
			font-family: PingFangSC-Thin;
			font-size: 0.28rem;
			color: #151515;
			letter-spacing: 0;
			line-height: 0.44rem;
			padding-bottom:0.32rem;
			text-align:center;
		}
		.three-point{
			margin:auto;
			text-align:center;
		}
		.hbc-logo{
			height:1rem;
			width:1.6rem;
			background-image:url('../images/hi.png');
			background-size:100%;
			background-repeat:no-repeat;
			margin:1.62rem auto ;
			
			
		}

	}

}