.ui-hotel-search{
	.bills-time{
		font-family: MicrosoftYaHei;
		font-size: 12px;
		color: #0E1A27;
		letter-spacing: 0;
		margin-right:10px;
	}
	.ant-calendar-start-day {
      .ant-calendar-date {
        &:before{
          content: '开始';
        }
      }
    }

    .ant-calendar-end-day {
      .ant-calendar-date {
        &:after{
          content: '结束';
        }
      }
    }
	.button-search{
		.btn-default{
			width:100px;
			height:36px;
			background: #F49F1F;
			border-radius: 4px;
			font-family: MicrosoftYaHei;
			font-size: 16px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height:16px;
			text-align:center;
			margin-left:20px;
			box-shadow:0 5px 10px rgba(244,159,31,0.5);
		}
	}
}









// .ui-hotel-search{

// }
// .from-group{

// 	input,.input-group{
// 		outline: none;
// 		display: inline-block;
// 		width: 100%;
// 		height:100%;
// 		padding:7px 12px;
// 		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
// 		background: #FFFFFF;
// 		border: 1px solid #DDDEDF;
// 		border-radius: 4px;
// 		font-size: 14px;
// 		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

// 	}
// 	.ant-calendar-picker-input{
// 		background-color: #fff;
// 		box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
// 		border: 1px solid #DDDEDF!important;
// 	}

// 	.input-auto,.input-group,.ant-calendar-picker-input{
// 		&:focus,&:hover{
// 		    border-color: rgba(243, 159, 30, 0.5)!important;
// 		    outline: 0;
// 		    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243, 159, 30, 0.5);
// 		  }
// 	}
// 	.ant-calendar-picker-input:not([disabled]){
// 		border:none;
// 		box-shadow: none;
// 		&:focus,&:hover{
// 			border:none;
// 			box-shadow: none;
// 		}
// 	}
// 	input::-webkit-input-placeholder{
// 		color : #6E767D!important;
// 	}
// 	.ant-calendar-picker-icon{
// 		display: none;
// 	}
// 	.city-group,.search-group,.date-picker-group,.button-group,.ant-calendar-picker{
// 		display: inline-block;
// 		margin-right: 10px;
// 		height:36px;
// 	}
// 	.ant-calendar-picker{
// 		&:after{
// 			z-index: 0;
// 		}
// 	}
// 	.city-group{
// 		width: 230px;
// 	}
// 	.search-group{
// 		width: 230px;

// 	}
// 	button{
// 		border:none;
// 		outline: none;
// 		background :#F49F1F;
// 		color:#fff;
// 		width: 100%;
// 		height: 100%;
// 		font-size: 14px;
// 		border-radius: 4px;
// 		box-shadow: 0 1px 0 rgba(0,0,0,0.15)
// 	}
// 	.button-group{
// 		width: 100px;
// 		height:36px;
// 		border:none;
// 	}
	
// }