.op-row {
	> a {	
		display: inline-block;
		vertical-align: middle;
		height: 36px;
		padding: 0 15px;
		font-size: 14px;
		line-height: 36px;
		border-radius: 4px;
		&.excel {
			margin-left: 30px;
			background: #F49F1F;
			border: 1px solid #F49F1F;
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
			color: #fff;
		}
		&.pdf {
			margin-left: 10px;
			background: #fff;
			border: 1px solid #F49F1F;
			color: #F49F1F;
		}
	}

}