#ui-wrap {
     background-color: #F5F7F9;
     .ui-order-list {
        box-sizing: border-box;
        padding: 20px 20px 20px 250px!important;
        height: 100%;
        overflow: initial;
        font-size: 14px;
        .detail-cont {
            box-sizing: border-box;
            width: 100%;
            min-width: 850px;
            padding: 34px 40px;
            border-radius: 4px;
            background: #fff;
            h2 {
                margin-bottom: 18px;
                line-height: 32px;
                font-size: 24px;
                font-weight: normal;
            }
            .order-status-bar {
                box-sizing: border-box;
                height: 54px;
                line-height: 54px;
                margin-bottom: 18px;
                margin-top:12px;
                font-size: 14px;
                border-bottom: 1px solid rgba(158, 165, 170, 0.5);
                // border-bottom: 1px solid #9EA5AA;
                ul {
                    position: relative;
                    li {
                        box-sizing: border-box;
                        height: 54px;
                        display: inline-block;
                        cursor: pointer;
                        &.active {
                            color: #F49F1F;
                            border-bottom: 3px solid #F49F1F;
                        }
                        span {
                            cursor: pointer;
                            padding: 0 20px;
                        }
                    }
                    li + li {
                        span {
                            border-left: 1px solid #9EA5AA;
                            line-height: 19px;
                        }
                    }
                    .settleShouldAmount{
                        position:absolute;
                        top:0;
                        right:22px;
                        .title-money{
                            font-family: MicrosoftYaHei-Bold;
                            font-size: 14px;
                            color: #FA573D;
                            letter-spacing: 0;
                            line-height: 30px;
                            margin-left:3px;
                        }
                    }
                }
            }


        }


    }
}
