.list-table-wrapper{
    font-size: 12px;
    .ant-spin{
        width: 100%;
        padding: 50px 0;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        color: #6D767C;
        .ant-spin-dot{
            display: inline-block;
            i{
                background-color: #6D767C
            }
        }
        .ant-spin-text{
            display: inline-block;
            margin-left: 40px;
            font-size: 14px;
        }

    }
  .list-table{
    width: 100%;
    border: 1px solid #D3DDE6;
    .list-head {
          background: #F5F7F9;
          text-align: center;
          height: 40px;
          border-bottom: 0;
          > div {
              padding: 5px 0;
          }
    }
   }
   .list-body{
    .list-item {
            border: 1px solid #D3DDE6;
            border-top: 0;
            // border-radius: 4px;
            background: transparent;
            text-align: center;
            a {
                display: inline-block;
                line-height: 1.2em;
                text-decoration: underline;
                color: #006CE1;
                &.btn {
                    width: 60px;
                    padding: 5px 0;
                    margin: 0 auto 5px;
                    text-decoration: none;
                    border-color: #F49F1F;
                    border-radius: 4px;
                    color: #fff;
                    background: #F49F1F;

                }
            }
             .list-main {
                min-height: 50px;
                background: #fff;
                display: table;
                width: 100%;
                .btns span{
                    padding: 0 5px;
                    text-decoration: underline;
                    color: #006CE1;
                    cursor: pointer;
                    border-right:0;
                }

            .every-item{
                border-right:1px solid #D3DDE6;
                display: table-cell;
                vertical-align: middle;
                word-break: break-all;
                word-wrap: break-word;
                float: none;
                &.btns{
                  border-right:0;
                }
                &.money-item{
                    font-family: PingFangSC-Semibold;
                    font-size: 12px;
                    color: #0E1A27;
                    letter-spacing: 0;
                }
            }
    }
    }

   }
}

.accounts-Explain {
    position: relative;
    z-index: 100;
    line-height: 36px;
    font-size: 14px;
    .mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .6);
    }
    .accounts-wrap {
        position: fixed;
        top: 80px;
        left: 50%;
        bottom: 100px;
        width: 830px;
        max-height: 562px;
        padding: 30px 0;
        margin-left: -415px;
        border-radius: 4px;
        font-size: 14px;
        color: #0E1A27;
        background: #fff;
        .head {
            font-size: 22px;
            padding-bottom: 23px;
            border-bottom: 1px solid #F5F7F9;
            text-align: center;
            .close {
                position: absolute;
                top: 28px;
                right: 30px;
                font-size: 28px;
            }
        }
        .cont{
            padding: 20px;
            word-wrap: break-word;
            word-break: break-all;
        }
 }
}
