#ui-wrap {
     padding-top:87px;
     background-color: #F5F7F9;
     text-align:center;
    .ui-header{
        left:0;
        top:0;
    }
    .wrapper {
        margin:0 auto;
        width: 1000px;
        min-height: 500px;
        position:relative;
        .top_section,
        .middle_section,
        .bottom_section {
            padding:22px;
            text-align:left;
            margin-bottom:20px;
            background-color: #FFFFFF;
            border-radius: 4px;
        }
        .top_section {
            .a {
                font-weight: bold;
                font-size: 18px;
                color: #0E1A27;
                font-family: Microsoft YaHei;
                font-style: normal;
                line-height: 24px;
                margin-top: 23px;
                word-wrap: break-word;
                margin-right:5px;
            }
            .index_images {
                float: right;
                .imgs{
                    width: 300px!important;
                    height: 300px!important;
                    background-size:cover!important;
                    background-repeat:no-repeat; 
                    background-color:#F5F7F9;
                }
                .swiper-container {
                    // width: auto;
                    width: 300px;
                    height: 300px;
                    overflow: hidden;
                    .swiper-button-prev, .swiper-button-next {
                            width: 30px;
                            height: 60px;
                            margin-top: -30px;
                            font-size: 22px;
                            color: #FFF;
                            background-color: rgba(0,0,0,0.70);

                        }
                    .swiper-button-next{
                        right:0;
                        &:before{
                            content:'';
                            position: absolute;
                            top: 29.8px;
                            right: 10px;
                            width:13.68px;
                            height:13.68px;
                            display:block;
                            border-left:1px solid #FFF;
                            border-bottom:1px solid #FFF;
                            transform:translate(0,-50%) rotate(-135deg);
                        }
                    }
                    .swiper-button-prev{
                        left:0;
                         &:before{
                            content:'';
                            position: absolute;
                            top: 29.8px;
                            left: 10px;
                            width:13.68px;
                            height:13.68px;
                            display:block;
                            border-left:1px solid #FFF;
                            border-bottom:1px solid #FFF;
                            transform:translate(0,-50%) rotate(45deg);
                        }
                    }
                }
            }
            &::after {
                content: '';
                clear: both;
                display: block;
            }
            .map {
                float: right;
                border: 1px solid #006CE1;
                border-radius: 4px;
                margin-right: 26px;
                font-style: normal;
                text-align: center;
                padding: 4px 10px 4px 37px;
                font-family: MicrosoftYaHei;
                font-size: 12px;
                color: #006CE1;
                background-image: url(../images/icon_position.png);
                background-size: 16px 14px;
                background-repeat: no-repeat;
                background-position: 10px 50%;
                cursor:pointer;
            }
            .content {
                width: 630px;
                margin-top: 12px;
                .detail {
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    color: #9EA5AA;
                    letter-spacing: 0;
                    line-height: 24px;
                    word-wrap: break-word;
                    margin-right:5px;
                    &.hotpot {
                        margin-right: 20px;
                    }
                }
                .beauty-detail {
                    display: inline-block;
                    line-height:22px;
                    padding:0 11px;
                    background: #FFFFFF;
                    border: 1px solid #F49F1F;
                    border-radius: 10px;
                    font-family: MicrosoftYaHei;
                    font-size: 12px;
                    color: #F49F1F;
                    letter-spacing: 0;
                    text-align: center;
                    margin-top: 5px;
                    margin-right: 5px;
                    max-width:650px;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    overflow:hidden;
                }
                .average {
                    font-family: PingFangSC-Medium;
                    font-size: 14px;
                    color: #111111;
                    letter-spacing: 0;
                    line-height: 20px;
                    margin-top: 10px;
                    display: inline-block;
                     word-wrap: break-word;
                     margin-right:5px;
                    max-width:690px;
                }
                .back {
                    font-family: PingFangSC-Medium;
                    font-size: 22px;
                    color: #FF2525;
                    letter-spacing: 0;
                    float: right;
                    //margin-right: 26px;
                }
            }
            .message {
                word-wrap: break-word;
                font-family: MicrosoftYaHei;
                font-size: 14px;
                color: #0E1A27;
                letter-spacing: 0;
                line-height: 28px;
                margin-right:5px;
                max-width:690px;
                word-break:break-all;
            }
            .schedule {
                margin-top: 10px;
                .icon {
                    i {
                        width: 16px;
                        height: 17px;
                        display: inline-block;
                        background-size: 16px 17px;
                        background-image: url(../images/seat.png);
                        margin-right: 9px;
                        margin-left: 2px;
                        vertical-align: middle;
                    }
                    em {
                        font-family: PingFangSC-Semibold;
                        font-size: 17px;
                        color: #11BACA;
                        letter-spacing: 0;
                        line-height: 30px;
                        font-style: normal;
                        vertical-align: middle;
                    }
                }
                .price {
                    position:absolute;
                    margin-top:10px;
                    right: 460px;
                    em {
                        font-style: normal;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 20px;
                        &.cost {
                            color: #9EA5AA;
                            font-family: PingFangSC-Regular;
                            margin-right: 4px;
                        }
                        &.rmb {
                            color: #FF2525;
                            font-family: PingFangSC-Semibold;
                        }
                    }
                }
                .button {
                    display: inline-block;
                    background: #F49F1F;
                    border-radius: 4px;
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    position:absolute;
                    right:348px;
                    width: 90px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    cursor:pointer;
                }
                .lead {
                    font-family: PingFangSC-Regular;
                    font-size: 14px;
                    color: #9EA5AA;
                    letter-spacing: 0;
                    line-height: 20px;
                    margin-left: 27px;
                    word-wrap: break-word;
                    margin-right:5px;
                }
            }
            hr {
                opacity: 0.2;
                height: 1px;
                color: #9EA5AA;
                margin-top: 15px;
                width: 67%;
                display: inline-block;
                text-align: left;
            }
        }
        .middle_section {
            .title {
                font-family: MicrosoftYaHei;
                font-size: 18px;
                color: #0E1A27;
                letter-spacing: 0;
                line-height: 30px;
            }
             .describe{
                    margin-top: 10px;
                    font-family: MicrosoftYaHei;
                    font-size: 14px;
                    color: #6E767D;
                    letter-spacing: 0;
                    line-height: 30px;
                    text-align:left;
                    word-wrap: break-word;
                    img {
                        margin: 30px auto;
                        width: 690px;
                        display:block;
                    }
            }
        }
        .bottom_section {
            margin-bottom:30px;
            span {
                font-family: MicrosoftYaHei;
                font-size: 18px;
                color: #0E1A27;
                letter-spacing: 0;
                line-height: 30px;
            }
            ol {
                margin-top: 10px;
                li {
                    span {
                        font-family: MicrosoftYaHei;
                        font-size: 14px;
                        color: #6E767D;
                        letter-spacing: 0;
                        line-height: 30px;
                        &.number {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .photo-graph{

             //display:none;
            .photo-overlay{
                    background-color: rgba(0, 0, 0, 0.5);
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index:110;
            }
            .map-wrap{
             left: 50%;
             top:132px;
            position: fixed;
            width: 700px;
            z-index:120;
            background: #FFFFFF;
            border-radius: 4px;
            bottom:15%;
            margin-left:-350px;
            .map-header{
                position: relative;
                height: 74px;
                font-family: MicrosoftYaHei;
                .position{
                    font-size: 22px;
                    color: #0E1A27;
                    letter-spacing: 1px;
                    text-align:center;
                    line-height:74px;
                }
                .close{
                    position: absolute;
                    top: 50%;
                    right: 26px;
                    margin-top: -15px;
                    cursor: pointer;
                    &::before{
                        content: "\E633";
                         font-size: 24px;
                             height: 24px;
                            line-height: 24px;
                                display: block;
                    }
                }
            }
            .map-container{
                .WG-MapFullScreen{
                    display:none;
                    }
                &>div{
                    position:absolute;
                    top:74px!important;
                    right:0!important;
                    bottom:0!important;
                    left:0!important;
                     }
                .WG-Map{
                      width: 700px!important;
                }
            }

        }
        }
    }
    .ui-footer{
        position:static;
        ul{
            li{
                a{
                    font-family: MicrosoftYaHeiLight;
                    color: #CFD1D4;
                }
            }
        }
        p{
             margin-left: -690px;
        }
    }
}