#ui-wrap {
     // padding-top:87px;
     background-color: #F5F7F9;
     // text-align:center;
    // .ui-header{
    //     left:0;
    //     top:0;
    // }
    // .wrapper {
    //     margin:0 auto;
    //     width: 1000px;
    //     min-height: 500px;
    //     position:relative;
       
    // }
    // .ui-footer{
    //     position:static;
    //     ul{
    //         li{
    //             a{
    //                 font-family: MicrosoftYaHeiLight;
    //                 color: #CFD1D4;
    //             }
    //         }
    //     }
        
    // }
    // .ui-main {
    // height: auto!important;
    .ui-order-list {
        box-sizing: border-box;
        padding: 20px 20px 20px 250px!important;
        height: 100%;
        overflow:initial;
        font-size: 14px;
        .list-cont {
            box-sizing: border-box;
            width: 100%;
            min-width: 850px;
            padding: 34px 40px;
            border-radius: 4px;
            background: #fff;
        }
        h2 {
            margin-bottom: 18px;
            line-height: 32px;
            font-size: 24px;
            font-weight: normal;
        }
    }
}

